$white: #FFF;
$offwhite: #f4f7f8;
$verylightgray: #d5e0e4;
$lightgray: #becbcd;
$mediumgray: #606667;
$darkgray: #2f3233;
$black: #111212;

$rca-yellow: #f1ce0e;
$rca-red: #f11e0e;
$rca-white: #f7f0ef;

$neon-green: #65e41f;

$vcr-width: 520px;
$vcr-height: 100px;
$vcr-button-radius: 3px;
$vcr-standard-padding: 10px;
