.redux-vcr-component .cassette-list {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .cassette-wrapper {
    @for $i from 1 through 20 {
      &:nth-of-type(#{$i}) {
        z-index: #{20 - $i};
      }
    }

    &.fading-away {
      animation: fadeAway 1s forwards;
    }

    &.selected {
      animation: selected 1s forwards;
    }
  }

  .vcr-pagination-control {
    position: absolute;
    border: 0;
    background: none;
    right: 0;
    outline: none;

    &:disabled {
      opacity: 0.5;
    }

    &.previous {
      top: 0;

      &:active:not(:disabled) svg {
        transform: translateY(-10px);
        transition: transform 500ms;
      }
    }

    &.next {
      bottom: 0;

      &:active:not(:disabled) svg {
        transform: translateY(10px);
      }
    }

    &.fade-away {
      animation: fadeAway 500ms forwards;
    }

    svg {
      transition: transform 250ms;
    }
  }
}

@keyframes fadeAway {
  from { opacity: 1 }
  to { opacity: 0; }
}

@keyframes selected {
  0% { transform: scale(1) translateY(0); }
  75% { transform: scale(1.25) translateY(50px); opacity: 1; }
  100% {transform: scale(1.25) translateY(250px); opacity: 0; }
}
